.faq {
  padding-top: 16px;
  padding-bottom: 16px;
}

.faq-wrapper {
  &:not(:last-of-type) {
    .faq {
      border-bottom: 1px solid #dcdcdc;
    }
  }
}

.faq__question {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 0;
}